<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
th:replace="~{/layout/layout :: layout(~{::title}, ~{::body}, ~{::style})}">
<head>
<meta charset="UTF-8">
<title>websocket client</title>
</head>
<body>
<p><div id="chatStatus"></div>
<textarea name="chatMsg" rows="15" cols="40" class="w3-input"></textarea><br>
메시지입력:<input type="text" name="chatInput" class="w3-input">
<script th:inline="javascript">
 const server = [[${server}]]; 
 const port = [[${port}]]; 
 const path = [[${path}]]; 
 $(function(){
	 //192.168.7.234
	 //서버에서 수신할 수 있는 준비 필요
   let ws = new WebSocket("ws://"+server + ":" + port + "/chatting");
   //서버와 연결 성공된 경우 
   ws.onopen = function() {
	  $("#chatStatus").text("info:connection opened") 
	  //입력칸에 keydown 이벤트 등록
	  $("input[name=chatInput]").on("keydown",function(evt){
		  if(evt.keyCode == 13) { //Enter키 입력
			  //msg : 입력한 내용
			  let msg = $("input[name=chatInput]").val()
			  ws.send(msg) //서버로 전송
			  //입력칸(input 태그)의 값을 초기화
			  $("input[name=chatInput]").val("")
		  }
	  })
   }	 
	// 서버로부터 메세지 수신 
   ws.onmessage = function(event) {
	   $("textarea").eq(0).prepend(event.data+"\n")
   }
	//서버와 접속 종료시
   ws.onclose = function(event){
	   $("#chatStatus").text("info:connection close")
   }
 })
</script>
</body></html>